@model WebChat.Models.User
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>WebChat</title>
    <link rel="icon" href="~/images/logo.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link href="~/css/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/css/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/css/fontawesome/css/solid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <!-- My Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!-- NAVIGATION BAR -->
    <div id="navigationBar">
        <div id="logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="logo">
            </a>
        </div>
        <div id="actions">
            <div id="profileImage">
                <a href="~/profile.html">
                    <input type="hidden" id="userID" value="@Html.DisplayFor(model => model.ID)" />
                    <img src="~/images/@Html.DisplayFor(model => model.Profile.UserAvatar)" alt="avatar">
                    @Html.DisplayFor(model => model.FirstName)
                </a>
            </div>
            <div id="logoutAction">
                <a asp-controller="Registration" asp-action="Logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- CHAT FRAME -->
    <div id="content">
        <div id="blurCover"></div>
        <div id="chatFrame" class="container">
            <div class="row">
                <!-- Conversation Box -->
                <div class="col-lg-4" id="conversationBox">
                    <div id="searchAndCreate" class="row">
                        <div id="searchAction">
                            <input type="text" name="search" id="search" placeholder="Search">
                            <div id="searchResults">
                                <div class="searchResult">
                                    <img src="./images/daiduong.png" alt="avatar">
                                    <span class="conversationName">Ngô Đại Dương</span>
                                    <a href="#">
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                                <div class="searchResult">
                                    <img src="./images/groupImg.png" alt="avatar">
                                    <span class="conversationName">Group 1</span>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                                <div class="searchResult">
                                    <img src="./images/kimhuy.jpg" alt="avatar">
                                    <span class="conversationName">Nguyễn Kim Huy</span>
                                    <a href="#">
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                                <div class="searchResult">
                                    <img src="./images/daiduong.png" alt="avatar">
                                    <span class="conversationName">Ngô Đại Dương</span>
                                    <a href="#">
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                                <div class="searchResult">
                                    <img src="./images/groupImg.png" alt="avatar">
                                    <span class="conversationName">Group 1</span>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                                <div class="searchResult">
                                    <img src="./images/kimhuy.jpg" alt="avatar">
                                    <span class="conversationName">Nguyễn Kim Huy</span>
                                    <a href="#">
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a id="createConversation"></a>
                    </div>
                    <div class="row">
                        <ul id="conversationList"></ul>
                    </div>
                </div>
                <!-- Chat Box -->
                <div class="col-lg-8" id="chatBox">
                    <div class="row" id="sendTo">
                        <p class="col-lg-12">To: <span id="sendToUser"></span></p>
                    </div>
                    <div id="messages">
                        <!-- Message Form Send -->
                        <div class="row" id="sendMessage">
                            <input type="text" id="sendInput" placeholder="Type a message...">
                            <span class="input-group-text">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blur For Create Conversation -->
    <div id="blurForCreate"></div>
    <!-- Create Conversation -->
    <div id="createConversationBox">
        <span id="closeCreateConversationBox"><i class="fas fa-times"></i></span>
        <div id="conversationOptions">
            <div id="singleConversation">New Conversation</div>
            <div id="groupConversation">New Group</div>
            <div id="singleConversationSearch">
                <input type="text" name="searchUser" id="searchUser" placeholder="Search User...">
                <div id="searchUserResults">
                    <div class="searchUserResult" id="searchUserResult">
                        @*<div class="searchResult">
                            <img src="./images/daiduong.png" alt="avatar">
                            <span class="conversationName">Ngô Đại Dương</span>
                            <a href="#">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <a class="getUserId" href="2">
                                <i class="fab fa-facebook-messenger"></i>
                            </a>
                        </div>
                        <div class="searchResult">
                            <img src="./images/kimhuy.jpg" alt="avatar">
                            <span class="conversationName">Nguyễn Kim Huy</span>
                            <a href="#">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <a class="getUserId" href="4">
                                <i class="fab fa-facebook-messenger"></i>
                            </a>
                        </div>
                        <div class="searchResult">
                            <img src="./images/daiduong.png" alt="avatar">
                            <span class="conversationName">Ngô Đại Dương</span>
                            <a href="#">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <a class="getUserId" href="2">
                                <i class="fab fa-facebook-messenger"></i>
                            </a>
                        </div>
                        <div class="searchResult">
                            <img src="./images/kimhuy.jpg" alt="avatar">
                            <span class="conversationName">Nguyễn Kim Huy</span>
                            <a href="#">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <a class="getUserId" href="6">
                                <i class="fab fa-facebook-messenger"></i>
                            </a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="~/js/chatFrameScript.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>