@model WebChat.Models.Account

@using (Html.BeginForm("Login", "Input", FormMethod.Post, new { @class = "login-form" }))
{
    <label>
        @Html.TextBoxFor(m => m.UserEmail, new { @type = "email", @placeholder = "Email or phone number", @required = "required", @autofocus = "autofocus" })
    </label>
    <label>
        @Html.TextBoxFor(m => m.UserPassword, new { @type = "password", @placeholder = "Password", @required = "required" })
    </label>
    <input type="submit" value="Login" id="Login">
}
